In [2]:
import geopandas as gpd

In [3]:
import pandas as pd

In [4]:
slam_dir = '.\\shape4.shp'
slam_map = gpd.read_file(slam_dir)
slam_map

             label    X    Y                 geometry
0        Starbucks  594  540  POINT (594.000 540.000)
1             Vans  586  489  POINT (586.000 489.000)
2          Buberry  587  424  POINT (587.000 424.000)
3            Gucci  594  362  POINT (594.000 362.000)
4             AT_T  595  304  POINT (595.000 304.000)
5           Chanel  595  246  POINT (595.000 246.000)
6          Hats_on  596  189  POINT (596.000 189.000)
7            Guess  595  128  POINT (595.000 128.000)
8         Victoria  530   59   POINT (530.000 59.000)
9      TheBodyShop  455   59   POINT (455.000 59.000)
10  BrooksBrothers  369  128  POINT (369.000 128.000)
11            Zara  369  189  POINT (369.000 189.000)
12         VanHart  369  246  POINT (369.000 246.000)
13       Starfield  285  246  POINT (285.000 246.000)
14         Lacoste  285  189  POINT (285.000 189.000)
15    HollysCoffee  285  128  POINT (285.000 128.000)
16        Converse  258   50   POINT (258.000 50.000)
17           Fendi  175   50   POINT (175.000 50.000)
18          Hermes   75  128   POINT (75.000 128.000)
19             H_M   75  189   POINT (75.000 189.000)
20            ALDO   75  246   POINT (75.000 246.000)
21            Polo   75  304   POINT (75.000 304.000)
22      ClubMonaco   75  362   POINT (75.000 362.000)
23          Kisdom   75  424   POINT (75.000 424.000)
24         Cartier   75  489   POINT (75.000 489.000)
25          Chicor  146  595  POINT (146.000 595.000)
26    CustomMellow  211  595  POINT (211.000 595.000)
27    YankeeCandle  267  595  POINT (267.000 595.000)
28           Tommy  331  595  POINT (331.000 595.000)
29              GS  402  595  POINT (402.000 595.000)

In [5]:
slam_map[slam_map['label'] == "Gucci"]['label'] = "ALDO"

C:\Users\PIRL\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.